build
hs_err_pid*
.idea/*
!/.idea/icon.svg
out
*.ipr
*.iws
*.iml
.gradle
.project
.classpath
.settings
classes

# Ignore all binary files
modules/*/bin
shared/bin

# Lombok
**/src/main/generated/

# Local resources
modules/**/local_resources/
*.env
