name: "Run tests"
on:
  push:
    branches:
      - main
  pull_request:
env:
  IS_REMOTE: ${{ secrets.IS_REMOTE }}

jobs:
  run-tests-on-linux:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        gradle-task: ["check"]
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Check repository over Prettier
        uses: actionsx/prettier@3d9f7c3fa44c9cb819e68292a328d7f4384be206 # v3
        with:
          args: --check --ignore-unknown '**/*.*'
      - name: Set up JDK
        uses: actions/setup-java@3a4f6e1af504cf6a31855fa899c6aa5355ba6c12 # v4
        with:
          distribution: "corretto"
          cache: "gradle"
          java-version: "17"
      - name: Build with Gradle
        uses: gradle/actions/setup-gradle@0bdd871935719febd78681f197cd39af5b6e16a6 # v4
      - name: Docker compose - MariaDB start
        run: |
          chmod +x .github/scripts/compose/run_mariadb
          .github/scripts/compose/run_mariadb
        shell: bash
      - name: Spring - A8r start
        run: |
          chmod +x .github/scripts/spring/run_a8r
          .github/scripts/spring/run_a8r
        shell: bash
      - name: Run the unit tests
        run: ./gradlew ${{ matrix.gradle-task }} --no-parallel --no-daemon --console=plain
      - uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08 # v4
        if: always()
        with:
          name: test-report-linux-${{ matrix.gradle-task }}
          retention-days: 14
          path: |
            **/build/reports
            **/build/test-results
      - name: Run Test Coverage
        run: ./gradlew jacocoTestReport
      - name: Generate JaCoCo Badge
        uses: cicirello/jacoco-badge-generator@f33476a5a3fd5a4f77cb5eef2ebe728c1dd5b921 # v2
        with:
          generate-branches-badge: true
          jacoco-csv-file: "**/build/reports/jacoco/test/jacocoTestReport.csv"
      - uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08 # v4
        if: always()
        with:
          name: coverage-report-linux-${{ matrix.gradle-task }}
          retention-days: 14
          path: "**/build/reports/jacoco/test/html"
